/* *{
  max-width: 100vw;
  max-height: 100vh;
} */

@font-face {
  font-family: Roboto-Medium;
  src: url('fonts/Roboto-Medium.ttf');
}
@font-face {
  font-family: Roboto-Bold;
  src: url('fonts/Roboto-Bold.ttf');
}

.main-container{
  width: 100%;
  height: 100vh;
}

.container{
  width: 100%;
  height: 90vh;
}

footer{
  width: 100%;
  height: 10vh;
  background-color: #282828;
  position: fixed;
  bottom: 0;
  color: white;
}


.col-md-2{
  background-color: rgba(8,11,13, .9);
  height: 90vh;
  width: 15%;
  color: white;
}

.col-md-2 > h1{
  font-family: Roboto-Bold;
  font-size: 40px;
}
.col-md-2 > h1 > span{
  font-size: 30px;
}

.col-md-2 > ul{
  list-style-type: none;
  padding: 0;
  margin-top: 50px;
}

.col-md-2 > ul > li{
  margin-bottom: 20px;
  color: #b3b3b3;
}

.col-md-2 > ul > li:hover{
  color: white;
  border-left: 3px solid green;
}

.col-md-2 > ul > li > i{
  font-size: 20px;
  margin-left: 5px;
}

.col-md-2 > ul > li > span{
  margin-left: 10px;
  font-family: Roboto-Medium;
  font-size: 15px;
}

.sign-in-button{
  margin-top: 80px;
}

.sign-in-button,
.log-in-button{
  background-color: none;
  padding: 10px 20px;
  width: 80%;
  display: block;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 30px;
  border: 1px solid white;
  color: #b3b3b3;
  font-family: Roboto-Medium;
  font-size: 15px;
}
.sign-in-button:hover,
.log-in-button:hover{
  background-color: white;
  text-decoration: none;
  color: #0a0e10;
}

.col-md-10{
  background-image: linear-gradient(to right bottom, #314953, #1c292f, #060809);
  height: 90vh;
  overflow-y: scroll;
  width: 85%;
  color: white;
  padding: 0 30px;
}

.flexed{
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: center;
}

.col-md-10 > nav > ul{
  padding: 0;
}

.col-md-10 > nav > ul > li{
  display: inline-block;
  margin-right: 15px;
  color: #b3b3b3;
}

.col-md-10 > nav > ul > li:hover{
  color: white;
}

.col-md-10 > nav{
  margin: 20px auto;
}

section > h1{
  text-align: left;
  font-family: Roboto-Bold;
  margin: 20px 0;
}

.album{
  margin-bottom: 20px;
}

.album > img{
  width: 100%;
  height: 200px;
}

.album > p{
  margin-top: 10px;
  font-family: Roboto-Medium;
  color: #b3b3b3;
}

.player{
  height: 50%;
  position: relative;
}

.player > ul{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -30%);
  padding: 0;
}

.player > ul > li{
  display: inline-block;
  color: white;
  margin-left: 10px;
  font-size: 20px;
  margin-bottom: 10px;
}

hr{
  color: white;
  width: 50%;
  margin: 15px auto;
}

@media screen and (max-width: 576px){
  .col-md-2 > h1 > i{
    transform: translateX(-5px);
  }

  .col-md-2 > h1 > span{
    display: none;
  }

  .col-md-2 > ul > li > span{
    display: none;
  }

  .sign-in-button,
  .log-in-button{
    display: none;
  }

  .player > ul {
    width: 100%;
    height: 50%;
    transform: translate(-25%, -30%);
  }

  section > h1{
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px){
  .col-md-2{
    width: 8%;
  }
  .col-md-10{
    width: 92%;
  }
  .col-md-2 > h1 > i{
    transform: translateX(-5px);
  }

  .col-md-2 > h1 > span{
    display: none;
  }

  .col-md-2 > ul > li > span{
    display: none;
  }

  .sign-in-button,
  .log-in-button{
    display: none;
  }
}
